.btn {
    font-size: rem(16px);
    font-weight: 600;
    line-height: rem(24px);
    padding: rem(12px) rem(16px);
    border-radius: rem(10px);
    border: none;
    cursor: pointer;

    &--success {
        background-color: $success;
        color: $white;
    }

    &:disabled {
        background-color: $border !important;
    }
}