// base font
$baseFontSize: 16px;
$baseFontSize-for-calc: 16;

// Colors
$black: #000000;
$white: #FFFFFF;

$main-text: #293632;
$secondary-text: #2D473E;
$success: #006340;

$placeholders: #808080;
$border: #DBDBDB;
$input-border: #ADADAD;

$gray: #F5F5F5;

$warning: #FF0000;
